{% extends 'base.html' %}
{% block content %}
<div>
<a href="{{ url_for('.status_report', start=start.date()-span, end=end.date()) }}">&lt;--</a> Start: {{ start.date() }}
<a href="{{ url_for('.status_report', start=start.date()+span, end=end.date()) }}">--&gt;</a>
| <a href="{{ url_for('.status_report') }}">Reset</a> 
| End: 
<a href="{{ url_for('.status_report', start=start.date(), end=end.date()-span) }}">&lt;--</a> 
{{ end.date() }} <a href="{{ url_for('.status_report', start=start.date(), end=end.date()+span) }}">--&gt;</a> 
</div>

<table border="1" style="empty-cells: hide;">
    <tr>
        <th>Project</th>
        <th>Task ID</th>
        <th>Hours Spent</th>
        <th>Hours Left</th>
    </tr>
    {% for project in report %}
    <tr><td>{{ project.id }} - {{ project.name }}</td></td></tr>
    {% for task in report[project]|sort %}
    <tr>
        <td></td>
        <td><a href="{{ url_for('.task') }}?id={{ task.id }}">{{ task.id }}</a></td>
        <td style="background: #eee; color: blue;">{{ "{:.2f} hrs".format(task.hours_spent_by_user(current_user.get_id(), start, end)) }}</td>
        <td style="background: #eee;{% if task.time_left < 0 %}color: red;{% endif %}">{{ "{:.2f} hrs".format(task.time_left) }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>


<div>
    <ul>
    {% for project in report %}
        <li>{{ project.id }} - {{ project.name }}</li>
        <ul>
            {% for task in report[project] %}
                <li>{{ task.id }} - {{ task.title }} - {{ "{:.2f} hrs".format(task.hours_spent_by_user(current_user.username, start, end)) }}</li>
                <ul>
                {% for comment in task.comments %}
                <li>{{ comment.timestamp.strftime("%Y-%m-%d %I:%M %p")  }} - {{ comment.text }} - {{ comment.author }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</div>

{% endblock %}
