{% extends 'base.html' %}
{% block content %}
<div>
    <ul>
    {% for project in report %}
        <li>{{ project.id }} - {{ project.name }}</li>
        <ul>
            {% for task in report[project] %}
                <li>{{ task.id }} - {{ task.title }} - {{ "{:.2f} hrs".format(task.hours_spent_by_user(current_user.username, start, end)) }}</li>
                <ul>
                {% for comment in task.comments %}
                <li>{{ comment.timestamp.strftime("%Y-%m-%d %I:%M %p")  }} - {{ comment.text }} - {{ comment.author }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</div>
{% endblock %}
