{% extends 'base.html' %}
{% block content %}
<header><h1>Tasks</h1></header>
<a href="{{ url_for('.task') }}">New Task</a>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Project ID</th>
            <th>Type</th>
            <th>Status</th>
            <th>Title</th>
            <th>Assigned To</th>
            <th>Current Estimate</th>
            <th>Time Spent</th>
            <th>Contact</th>
        </tr>
    {% for task in tasks %}
        <tr>
            <td><a href="{{ url_for('.task') }}?id={{ task.id }}">{{ task.id }}</a></td>
            <td>{{ task.project.id }}</td>
            <td>{{ task.type }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.user.fullname }}</td>
            <td>{{ task.current_estimate }}</td>
            <td>{{ "{:.2f} hrs".format(task.time_spent) }}</td>
            <td>{{ task.contact }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
<script>
    function show_new_task(){
        document.getElementById('new_task').style.display = 'block';
    }
</script>
{% endblock %}
