<div class="view_task">
     {% include 'views/task_editbar.html' %}
     <div class="task_side">
        <div class="task_id">
            {% if task %}
            <a href="{{ url_for('.task') }}?id={{ task.id }}">{{ task.id }}</a>
            <div>
                <a href="{{ url_for('.task') }}?id={{ task.id - 1 }}">&lt;==</a>
                <a href="{{ url_for('.task') }}?id={{ task.id + 1 }}">==&gt;</a>
            </div>
            {% endif %}
        </div>
        <span class="contact">
            Contact:<br />
            {{ task.contact }}<br />
        </span>
        <span class="original_estimate">
            Original Estimate:
            {{ task.original_estimate ~ ' hrs' or 'None' }}
        </span>
        <span class="current_estimate">
            Current Estimate:
            {% if task.original_estimate %}
            {{ task.current_estimate ~ ' hrs' }}
            {% else %}
            None
            {% endif %}
        </span>
    </div>
    <div class="task_main">
        <span class="project">
            Project:<br />
            {{ task.project.name }} - {{ task.project.id }}
        </span>
        <span class="type">
            Type:<br />
            {{ task.type }}
        </span>
        <span class="status">
            Status:<br />
            {{ task.status }}
        </span>
        <span class="assigned_to">
            Assigned To:<br />
            {{ task.assigned_to }}
        </span>
        <span class="title">
            Title:<br />
            {{ task.title }}
        </span>
        <div class="comments">
            {% if task %}
            {% for comment in task.comments %}
            <div class="comment">
                <div class="comment_text">{{ comment.text }}</div>
                <div class="footer">
                {{ comment.timestamp.strftime("%Y-%m-%d %I:%M %p") }} - <div class="author">{{ comment.user.fullname }}</div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% include 'views/task_editbar.html' %}
</div>
