{{ form.csrf_token }}
{{ form.id() }}
{{ form.project.label() }}<br />
{{ form.project() }}<br />
{{ form.type.label() }}<br />
{{ form.type() }}<br />
{{ form.status.label() }}<br />
{{ form.status() }}<br />
{{ form.title.label() }}<br />
{{ form.title() }}<br />
{{ form.contact.label() }}<br />
{{ form.contact() }}<br />
{{ form.assigned_to.label() }}<br />
{{ form.assigned_to() }}<br />
{{ form.current_estimate.label() }}<br />
{{ form.current_estimate() }}<br />
{{ form.comment.label() }}<br />
{{ form.comment() }}<br />
